<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture de réservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Facture de réservation</h2>
    <div>
        <p>Date d'arrivée: <span th:text="${dateInFromserver}"></span></p>
        <p>Date de départ: <span th:text="${dateOutFromserver}"></span></p>
        <p>Nom du statementing Parking: <span th:text="${parkingName}"></span></p>
        <p>Nom du place: <span th:text="${placeName}"></span></p>
        <p>durée: <span th:text="${' '+nbrhours+'h' + ' : ' + nbrminute+'m'}"></span></p>
        <p>Prix total: <span th:text="${totalPrice}"></span></p>
    </div>
</div>
</body>
</html>
